.App{
    display: flex;
    /* justify-content: center; */
    margin: 0px 00px;
    padding: 0px 100px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    background: #eeeaea;
}
body {
    background: #eeeaea;
}
.AppDark {
    display: flex;
    margin: 0px 00px;
    padding: 0px 100px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: #232121;
    color: white;
    height: auto;
}

.card {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    padding: 0px;
    height: 400px;
    width: 320px;
    margin: 10px;
    box-shadow: 0px 0px 8px 1px rgb(127, 122, 122);
    border: none;
    transition: 0.3s;
    background: #e6e6e6;
}
.card:hover, .cardDark:hover {
    scale: 1.04;
    margin: 2px;
}
.cardDark {
    width: 320px;
    height: 400px;
    border-radius: 10px;
    padding: 0px;
    height: 400px;
    width: 320px;
    margin: 10px;
    box-shadow: 0px 0px 8px 2px rgb(231, 229, 229);
    border: none;
    color: rgb(239, 233, 233);
    /* background: #645757; */
    background: linear-gradient(to bottom, #dfd3d3, #000000);
    transition: 0.3s
}
.home {
    display: flex;
    /* background: #ffffff; */
    justify-content: space-evenly;
    /* flex-direction: column; */
    margin: 0 auto;
    flex-wrap: wrap;
}
.img {
    width: 320px;
    height: 200px;
    background: #ded7d7;
    margin: 0;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    border: none
}
.infos {
    padding: 5px 20px 20px 20px
}
h4 {
    padding: 15px 20px 0px 20px
}

nav {
    padding: 25px 25px 5px 25px;
}
.part1, .part2 {
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    align-items: center;
    margin: 0px 0px 20px 0px
}

.darkMode {
    padding: 5px 10px;
    width: auto;
    border-radius: 5px;
    background: #000;
    color: white;
}

.darkMode:hover {
    background: white;
    color: black;
}
.darkBtn {
    background: white;
    padding: 5px 10px;
    width: auto;
    border-radius: 5px;
    color: black;
}
.darkBtn:hover {
    background: #000;
    color: white;
    border: 2px solid white
}
select {
    padding: 5px 8px;
    border-radius: 2px
}
input {
    padding: 2px 5px;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 1px grey;
    height: 40px;
    width: 300px;
}

* {
    list-style: none;
    text-decoration: none;
    
}



Card {
    background: #000;
}

.imgCard {
    width: 400px;
    height: 300px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.CardBody {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 20px;
    padding: 0 50px 0 20px;
}
.infosCard {
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
}
.infosCard > * {
    width: 50%;
}
.goBack {
    border: none;
    border-radius: 5px;
    background: #000;
    color: white;
    padding: 5px 10px;
    margin: 5px 20px;
    border: 2px solid white

}
.goBack:hover {
    background: white;
    color: rgb(0, 0, 0);
    border: 2px solid black
}
span {
    padding: 2px
}
.btnBorder {
    display: flex;
    gap: 5px;
    flex-direction: row;
}
.btnBrd {
    padding: 5px 10px;
    margin: 10px 5px;
    border: none;
    box-shadow: 0px 0px 8px 3px grey;
    border-radius: 5px;
    width: auto;
}